<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cities2See</title>
</head>
<body>
      <div class="container">
    <h1 class="center-align"> <span class="text-teal center-align">Cities2See</span> </h1>
    <div class="divider"></div>

    {{{body}}}
</div>
</body>
</html>