 <div class="container right-align">
    <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action" id="logoutBtn">logout
        <i class="material-icons right">send</i>
    </button>
</div>


<div class="row">
    <div class="col s4">
        <h4>Add A City</h4>
        
        <div class="input-field">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">City Name</label>
        </div>
    Visited Cities
    </div>

    <div class="col s8">
        <div class="row">
            <div class="col s12 m8x">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <p class="card-title item-a">City Name</p>
                        <p class="item-c">State</p>
                        <p class="item-b1">Population</p>
                        <p class="item-b2">Elevation</p>
                        <p class="item-b3"> Timezone</p>
                        <p class="item-d">Coordinates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <div class="row">
        <form class="col s4 searchACity">
            <h4>Add A City</h4>
            
            <div class="input-field">
                <input id="searchbar" type="text" class="validate">
                <label for="searchbar">City Name</label>
                <button class="btn waves-effect waves-light teal" type="submit" name="action" id="searchBtn">Search! </button>
            </div>
            Visited Cities
            <div class="cityOptions">
                <h5>City Options</h5>
                <button class="btn waves-effect waves-light teal" type="submit" name="action" id="button1">City Name </button>
            </div>
        </form>


        <div class="col s8">
            <div class="row">
                <div class="col s12 m8x">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p class="item-a">City Name</p>
                      <p class="item-c">State</p>
                      <p class="item-b1">Population</p>
                      <p class="item-b2">Elevation</p>
                      <p class="item-b3"> Timezone</p>
                      <p class="item-d">Coordinates</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        

    </div>


    <script src="/js/dashboard.js"></script>