<div class="container center-align" id="loginDiv">
    <div class="input-field">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
    </div>
    <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
    <div class="container center-align">
        <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action" id="signInBtn">Sign In
            <i class="material-icons right">account_circle</i>
        </button>
        <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action" id="signUpBtn">Sign Up Instead
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<script src="/js/login.js"></script>