<div class="container center-align" id="loginDiv">
    <div class="input-field">
        <input
         id="first_name" 
         type="text" 
         class="validate"
         for="first_name"
         placeholder="Enter your first name"
         >
         
    </div>
    <div class="input-field">
        <input
         id="password"
         type="password" 
         class="validate"
         for="password"
         placeholder="Please enter your password"
        >
        
    </div>
    <div class="container center-align">
        <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action" id="signUpBtn">Sign Up
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light teal darken-3" type="submit" name="action" id="signInBtn">Sign In
            <i class="material-icons right">account_circle</i>
        </button>
    </div>
</div>

<script src="/js/login.js"></script>




  <input
            